{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %} {{title}} | {{block.super}} {% endblock head_title %}

{% block content %}

{{ block.super }}
<div class="row">
  <div class='col-sm-8 col-sm-offset-2'>
    <h1 class='page-header'>{{title}}</h1>
    {% include 'feedback_encouragement_para.html' %}
    <p class='page-paragraph'>
      Of course we also welcome any positive feedback we can relay back to our hard working and diligent affiliates:)
    </p>

    <div class="row">
      <div class='col-sm-10 col-sm-offset-1 feedback-form'>
        <form method='POST' action=''> {% csrf_token %}
          {{form|crispy}}
          <input type='submit' class='btn btn-feedback-submit btn-lg btn-block' value='Submit' />

        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
