<h2>Welcome</h2>
<p class='page-paragraph'>
  Do you need help in getting a quality, but affordable tombstone for a loved one?
  In that case you have come to the right place. Here at Tombstones/Memorials SA we are
  committed to finding the right supplier for your tombstone needs. We have a host of
  affiliated Tombstone suppliers spread over SA eager to provide you with the highest
  quality products, and at the right price. Even if you are in neighbouring countries
  like <b>Swaziland, Mozambique, Zimbabwe,</b> we have affiliates that can supply to your needs.
</p>
